<div class="card-body p-0">
    <div class="d-flex flex-sm-row flex-column justify-content-between align-items-sm-center mb-3">
        <div class="d-flex align-items-center mb-sm-0 mb-2">
            <img src="../../../images/avatars/%%userimg" alt="%%name" class="user-img">
            <p class="fw-medium text-dark-title mb-0">%%name</p>
            <ul class="mb-0">
                <li class="fs-6">%%time min read</li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <span class="me-6 lh-1"><i class="ri-time-line fs-6"></i></span>
            <h6 class="mb-0">%%date</h6>
        </div>
    </div>
    <h4 class="text-dark-title fs-26 mb-2">%%title</h4>
    <p class="fs-6 mb-24">%%description</p>
    <div class="badge blog-badge">%%badge1</div>
    <div class="badge blog-badge">%%badge2</div>
    <div class="badge blog-badge">%%badge3</div>
</div>