<div class="card choose-card %%card-bg h-100">
    <div class="card-body text-center">
        <img src="../../../images/marketing/chooseimgs/%%img" alt="%%title" class="mb-xl-40 mt-xl-24 mb-16 choose-img">
        <h5 class="text-dark-title mb-12">%%title</h5>
        <p class="fs-6 mb-0">%%description</p>
    </div>
    <div class="card-footer bg-transparent pb-4 pt-0 border-0 text-center">
        <a href="#" class="arrow fs-4">
            <span class="lh-1"><i class="ri-arrow-right-up-long-fill"></i></span>
        </a>
    </div>
</div>