<div class="card features-card h-100 %%bg-color %%icon-color">
    <div class="card-icon">
        <div class="card-icon-bg"></div>
        <span class="icon lh-1"><i class="%%icon"></i></span>
    </div>
    <div class="card-body py-0">
        <p class="card-title">%%title</p>
        <p class="card-text mb-4">%%description</p>
    </div>
    <div class="card-footer pb-4 pt-0 bg-transparent border-0">
        <a href="#" class="card-link">Learn More<span class="ms-2"><i class="ri-arrow-right-long-line"></i></span></a>
    </div>
</div>
