<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-20" type="button" data-bs-toggle="collapse" data-bs-target="#%%target"
            aria-expanded="false" aria-controls="%%target">
            %%que
            <div class="toggle-icon">
                <i class="ri-add-large-line"></i>
            </div>
        </button>
    </h2>
    <div id="%%target" class="accordion-collapse collapse" data-bs-parent="#%%id">
        <div class="accordion-body px-0 pt-0 pb-4">You get full access to all premium features for 14 days — completely free and with
            no credit card required. During the trial, you can explore the platform, invite your team, and use all tools
            just like a paying user. At the end of the trial, you can choose a plan that fits your needs or continue on
            our free plan with limited features.</div>
    </div>
</div>