
<div class="card testi-card %%bg-color position-relative">
    <div class="testi-img-wrap">
        <img src="../../../images/avatars/%%img" alt="%%name" class="avatar-img">
    </div>
    <div class="card-body pb-0">
        <div class="quotes-icon">
            <span><i class="ri-double-quotes-l"></i></span>
        </div>
        <p class="fs-6 mb-20">“Stay ahead with fashion that speaks for you. Embrace trends while staying true to your unique style. Every outfit is a statement—make yours unforgettable. Stay ahead with fashion that speaks for you. Embrace trends while staying true to your unique style. Every outfit is a statement—make yours unforgettable.”</p>
    </div>
    <div class="card-footer bg-transparent pb-4 pt-0 border-0">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div>
                <p class="fw-medium testi-name mb-0">%%name</p>
                <p class="testi-pose mb-0">%%pose</p>
            </div>
            <div class="text-warning d-flex justify-content-between align-items-center gap-1">
                <span><i class="ri-star-s-fill"></i></span>
                <span><i class="ri-star-s-fill"></i></span>
                <span><i class="ri-star-s-fill"></i></span>
                <span><i class="ri-star-s-fill"></i></span>
                <span><i class="ri-star-s-fill"></i></span>
            </div>
        </div>
    </div>
</div>


