<div class="card testi-card3 h-100">
    <div class="card-body">
        <div class="d-flex align-items-center gap-1 mb-4">
            <span class="text-warning"><i class="ri-star-s-fill"></i></span>
            <span class="text-warning"><i class="ri-star-s-fill"></i></span>
            <span class="text-warning"><i class="ri-star-s-fill"></i></span>
            <span class="text-warning"><i class="ri-star-s-fill"></i></span>
            <span class="text-warning"><i class="ri-star-s-fill"></i></span>
        </div>
        <p class="mb-0 fs-16 fst-italic">“%%description”</p>
    </div>
    <div class="card-footer bg-transparent pb-4 pt-0 border-0">
        <div class="d-flex justify-content-end align-items-center">
            <div class="text-end">
                <p class="fw-medium text-dark-title mb-0">%%title</p>
                <p class="fs-14 mb-0">%%subtitle</p>
            </div>
            <div>
                <img src="../../../images/avatars/%%img" alt="userImg" class="user-img">
            </div>
        </div>
    </div>
</div>